body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: black;
  color: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.header-container {
  font-size: 3em;
}

span {
  font-size: 5em;
}

.input-container {
  font-weight: bold;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  display: contents;
}

